<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * PinDroid - http://code.google.com/p/PinDroid/
 *
 * Copyright (C) 2010 Matt Schmidt
 *
 * PinDroid is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published
 * by the Free Software Foundation; either version 3 of the License,
 * or (at your option) any later version.
 *
 * PinDroid is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PinDroid; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
 * USA
 */
 -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pindroid"
    android:versionCode="43"
    android:versionName="2.0.2">
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <application
        android:icon="@drawable/ic_main"
        android:label="@string/label"
        android:theme="@style/ThemeSelector"
        android:hardwareAccelerated="true">
        <activity
        	android:name=".activity.Main"
        	android:label="@string/titleMain">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/global_searchable"/>
        </activity>
        <activity android:name=".activity.BrowseTags">
        	<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="content" android:host="com.pindroid.providers.BookmarkContentProvider" android:path="/tags"/>
			</intent-filter>
			<intent-filter>
        		<action android:name="android.intent.action.PICK" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="content" android:host="com.pindroid.providers.BookmarkContentProvider" android:path="/tags"/>
			</intent-filter>
			<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/tag_searchable"/>
        </activity>
        <activity android:name=".activity.TagLiveFolder"
        	android:label="@string/tag_live_folder_label"
        	android:icon="@drawable/ic_tag_folder">
            <intent-filter>
        		<action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
        		<category android:name="android.intent.category.DEFAULT" />	
        	</intent-filter>
        </activity>
        <activity android:name=".activity.BrowseBookmarks" >
        	<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="content" android:host="com.pindroid.providers.BookmarkContentProvider" android:path="/bookmarks"/>
        	</intent-filter>
        	<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="content" android:host="com.pindroid.providers.BookmarkContentProvider" android:path="/network"/>
        	</intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/bookmark_searchable"/>
        </activity>
        <activity android:name=".activity.BookmarkLiveFolder"
        	android:label="@string/bookmark_live_folder_label"
        	android:icon="@drawable/ic_bookmark_folder">
            <intent-filter>
        		<action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
        		<category android:name="android.intent.category.DEFAULT" />	
        	</intent-filter>
        </activity>
        <activity android:name=".activity.ViewBookmark"
        	android:label="@string/view_bookmark_title"
        	android:uiOptions="splitActionBarWhenNarrow">
        	<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="content" android:host="com.pindroid.providers.BookmarkContentProvider" android:pathPattern="/bookmarks/.*"/>
        	</intent-filter>
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/main_searchable"/>
        </activity>
        <activity android:name=".activity.MainSearchResults"
        	android:label="@string/main_search_results_title">
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/main_searchable"/>
        </activity>
        <activity android:name=".activity.AddBookmark">
            <intent-filter>
        		<action android:name="android.intent.action.SEND" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="content" android:host="com.pindroid.providers.BookmarkContentProvider" android:path="/bookmarks"/>
        	</intent-filter>
        	<intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/main_searchable"/>
        </activity>
        <activity android:name=".activity.Preferences"
        	android:label="@string/preferences_title" />
        <activity android:name=".activity.AboutActivity" 
        	android:label="@string/about_activity_title">
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/main_searchable"/>
        </activity>
        <!-- The authenticator service -->
        <service
            android:name=".authenticator.AuthenticationService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".syncadapter.BookmarkSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/bookmarksyncadapter" />
        </service>
        <activity
            android:name=".authenticator.AuthenticatorActivity"
            android:label="@string/ui_activity_title"
            android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true">
        </activity>
        <provider
        	android:name="com.pindroid.providers.BookmarkContentProvider"
        	android:label="@string/bookmark_content_provider_label"
        	android:authorities="com.pindroid.providers.BookmarkContentProvider"
        	android:syncable="true" />
        <receiver 
        	android:name=".widget.SearchWidgetProvider"
        	android:label="@string/search_widget_label">
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider" android:resource="@xml/search_appwidget_info" />
		</receiver>
		<receiver 
        	android:name=".widget.UnreadWidgetProvider"
        	android:label="@string/unread_widget_label">
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider" android:resource="@xml/unread_appwidget_info" />
		</receiver>
		<receiver 
        	android:name=".syncadapter.PeriodicSyncReceiver"
        	android:label="@string/sync_receiver_label">
		</receiver>
		<receiver android:name=".receiver.AccountReceiver">
			<intent-filter>
				<action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"></action>
			</intent-filter>
		</receiver>
		<service android:name=".service.AccountService" />
    </application>
</manifest>